<table>
  <thead>
    <tr>
      <th width="150">Initial</th>
      <th width="150">Final</th>
      <th width="150">State</th>
      <th width="150">0</th>
      <th width="150">1</th>
    </tr>
  </thead>
  <tbody>
    {% for state in automata.states %}
    <tr>
      <td><input name="radio" type="radio" {% if state.is_initial_state %}checked{% endif %}></input></td>
      <td><input type="checkbox" {% if state.is_final_state %}checked{% endif %}></input></td>
      <td>{{ state }}</td>
      <td>
        <a class="tiny dropdown button secondary" dropdown-toggle="#state-menu">q2</a>
        <ul id="state-menu" class="menu f-dropdown">
          {% for state in automata.states %}
            <li><a href="#">{{state}}</a></li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <a class="tiny dropdown button secondary" dropdown-toggle="#state-menu">q1</a>
        <ul id="state-menu" class="menu f-dropdown">
          {% for state in automata.states %}
            <li><a href="#">{{state}}</a></li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a class="small button" href="/state/add">Add State</a>
