<a class="small button left" href="/state/add">Add State</a>
<table>
  <thead>
    <tr>
      <th width="130" class="text-center">Initial</th>
      <th width="130" class="text-center">Final</th>
      <th width="240" class="text-center">State</th>
      <th width="200" class="text-center">0</th>
      <th width="200" class="text-center">1</th>
    </tr>
  </thead>
  <tbody>
    {% for origin_state in automata.states %}
      {% if origin_state != None %}
        <tr>
          <td>
            <div class="text-center">
              <input name="radio" type="radio" {% if origin_state.is_initial_state %}checked{% endif %}
                onclick="location.href='/state/change/initial/{{origin_state}}'">
              </input>
            </div>
          </td>
          <td>
            <div class="text-center">
              <input type="checkbox" {% if origin_state.is_final_state %}checked{% endif %}
                onclick="location.href='/state/change/final/{{origin_state}}'">
              </input>
            </div>
          </td>
          <td>
            <div class="text-center">
              {{ origin_state }}
            </div>
          </td>
          <td>
            <select data-prompt="Choose a state..">
              {% for destination_state in automata.states %}
              <option value={{destination_state}}
                {% if destination_state == origin_state.transitions.get('0') %}selected{% endif %}
                onclick="location.href='/transition/add/{{origin_state}}/0/{{destination_state}}'">
                  {{destination_state}}
                </option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select data-prompt="Choose a state..">
              {% for destination_state in automata.states %}
              <option value={{destination_state}}
                {% if destination_state == origin_state.transitions.get('1') %}selected{% endif %}
                onclick="location.href='/transition/add/{{origin_state}}/1/{{destination_state}}'">
                  {{destination_state}}
                </option>
              {% endfor %}
            </select>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

