{% extends "layout.html" %}
{% block content %}
  <a onclick="location.href='/'">
    <h3>Automata Graph Validator</h3>
  </a>
  {% include 'partials/flash_messages.html' %}

  <div class="row">
  <tabset>
    <tab heading="Table">
      {% block table %}
        {% include 'partials/table.html' %}
      {% endblock table %}
    </tab>
    <tab heading="Draw Graph">
      {% block graph %}
        {% include 'partials/graph.html' %}
      {% endblock graph %}
    </tab>

    {% include 'partials/input_validation.html' %}
  </tabset>
  </div>

{% endblock %}
