{% extends "layout.html" %}
{% block content %}
  <h3>Automata Graph Validator</h3>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <alert class="success round">{{ message }}</alert>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <tabset>
    <tab heading="Table">
      {% block table %}
        {% include 'partials/table.html' %}
      {% endblock table %}
    </tab>
    <tab heading="Draw Graph">
      {# TODO #}
    </tab>
  </tabset>

{% endblock %}
