{% extends "layout.html" %}
{% block content %}
  <h1>Hello World!</h1>
  <div ng-controller="HomeTabs">
    <tabset class="tabs">
      <tab heading="Table">
        {% block table %}
          {% include 'partials/table.html' %}
        {% endblock table %}
      </tab>
      <tab heading="Draw Graph">
        {# TODO #}
      </tab>
      {# <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active"> #}
      {#   {{tab.content}} #}
      {# </tab> #}
    </tabset>
  <hr />
</div>

{% endblock %}
