<!doctype html>
<html ng-app="Automata Graph Validator">
  <head>
    {% block head %}
      <link rel="stylesheet" href="/static/css/foundation.min.css">
      <link rel="stylesheet" href="/static/css/social_foundicons.css">
      <link rel="stylesheet" href="/static/css/normalize.css">
      {# <link rel="stylesheet" href="/static/css/app.css"> #}
    {% endblock %}
  </head>
  <body>
    <br>
    <div class="row">
      {% block content %}{% endblock %}

      {% include 'partials/footer.html' %}
    </div>

    {% include 'partials/scripts.html' %}
  </body>
</html>
